
@font-face {
  font-family: 'AvenirNextLTPro-Cn';
  src: url('AvenirNextLTPro-Cn.eot?#iefix') format('embedded-opentype'),  url('AvenirNextLTPro-Cn.otf')  format('opentype'),
	     url('AvenirNextLTPro-Cn.woff') format('woff'), url('AvenirNextLTPro-Cn.ttf')  format('truetype'), url('AvenirNextLTPro-Cn.svg#AvenirNextLTPro-Cn') format('svg');
  font-weight: normal;
  font-style: normal;
}
