
@font-face {
  font-family: 'Prozak-Bold';
  src: url('Prozak-Bold.eot?#iefix') format('embedded-opentype'),  url('Prozak-Bold.woff') format('woff'), url('Prozak-Bold.ttf')  format('truetype'), url('Prozak-Bold.svg#Prozak-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
